.profile__editbutton {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  outline: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../images/EditButton.svg);
}

.profile__editbutton:hover {
  opacity: 0.6;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

@media screen and (max-width: 320px) {
  .profile__editbutton {
    width: 18px;
    height: 18px;
  }
}