.header__user-email {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 0 24px 0 0;
}

@media screen and (max-width: 425px) {
  .header__user-email {
    font-size: 14px;
    line-height: 17px;
    margin: 0 20px 0 0;
  }
}
