.profile__about {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 320px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    padding-top: 14px;
  }
}