.element__like {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background: url('../../../images/like.svg') center no-repeat;
  background-size: contain;
  width: 22px;
  height: 19px;
}

.element__like:hover {
opacity: 0.5;
-webkit-transition: 1s ease;
-moz-transition: 1s ease;
-o-transition: 1s ease;
transition: 1s ease;
}
